@import url('https://fonts.googleapis.com/css2?family=Kreon&family=Raleway&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: brown;
    color: yellow;
    font-family: 'Kreon', serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

nav {
    background: purple;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
}

nav a {
    color: inherit;
    text-decoration-line: none;
}

main {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    padding: .1rem;
}

footer {
    background: black;
    color: white;
    font-family: 'Kreon', serif;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
}

footer a {
    color: inherit;
    text-decoration-line: none;
}

/* Home page */

.home-images {
    width: 100%;
    height: auto;
}