@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@600&family=Raleway:wght@500&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

header h1 {
    font-family: 'Kreon', serif;
    font-weight: 600;
    font-size: 2.8em;
    background: brown;
    color: yellow;
    text-align: center;
    padding: .2em 0;
}

nav,
footer {
    background: #333;
    color: white;
    padding: .2em 0;
}

nav ul,
footer ul {
    list-style: none;
    text-align: center;
}

nav ul li,
footer ul li {
    font-size: 2em;
    padding: .2em;
}

nav a:hover,
footer a:hover {
    color: black;
    background: white;
}

nav a,
footer a {
    color: inherit;
    text-decoration-line: none;
}

/* Home (index.html) */

.column-max-width {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.home-container {
    padding: 0 .1em;
}

.home-container img {
    width: 100%;
    height: auto;
}

.home-narrative {
    font-size: 1.3em;
    margin: .2em 0;
}

.home-narrative h2 {
    text-align: center;
}

/* Gallery (gallery.html) */

#gallery {
    padding: .2em 0;
    margin-left: .2em;
    margin-right: .2em;
}

.photo-gallery-item {
    font-size: 1em;
}

.photo-gallery-item img {
    width: 100%;
    height: auto;
}

.photo-gallery-item h2 {
    text-align: center;
}

/* About Us (about-us.html) */

#about-us {
    font-size: 1.3em;
}

.information {
    margin: 1% auto;
    max-width: 25em;
    width: 100%;
}

.information a {
    color: inherit;
    text-decoration-line: none;
    display: block;
    text-align: center;
    padding: 2% 0;
}

.information table {
    width: 100%;
}

.information h2 {
    text-align: center;
}

.information a:hover {
    color: white;
    background-color: black;
}

@media screen and (min-width: 800px) {

    footer {
        position: fixed;
        bottom: 0;
        top: auto;
        width: 100%;
    }
    
    nav ul li,
    footer ul li {
        display: inline;
    }

    main {
        margin-bottom: 8%;
    }

    /* Home page */

    .home-container {
        display: flex;
        flex-flow: row nowrap;
        padding: 2% 0;
    }

    .home-container img {
        max-width: 50%;
    }

    .home-narrative {
        width: 50%;
        margin: 0;
        margin-left: .5em;
    }

    /* Gallery */

    #gallery {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: baseline;
    }

    .photo-gallery-item {
        width: 50%;
        padding: 0 .1em;
    }
}

@media screen and (min-width: 1280px) {

    /* Gallery */

    .photo-gallery-item {
        width: 33%;
    }
}