@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@600&family=Raleway:wght@500&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

header {
    font-family: 'Kreon', serif;
    font-weight: 600;
    font-size: 2em;
    background: brown;
    color: yellow;
    text-align: center;
}

nav {
    background: purple;
    color: white;
    font-size: 2em;
}

nav ul {
    margin: 0 auto;
    width: fit-content;
    list-style: none;
}

nav a {
    color: inherit;
    text-decoration-line: none;
}

main {
    padding: .1em;
}

footer {
    background: black;
    color: white;
    font-size: 2em;
}

footer ul {
    margin: 0 auto;
    width: fit-content;
    list-style: none;
}

footer a {
    color: inherit;
    text-decoration-line: none;
}

/* Home (index.html) */

#home-page div img {
    width: 100%;
    height: auto;
}

/* Gallery (gallery.html) */

.photo-gallery-item {
    font-size: 1em;
}

.photo-gallery-item img {
    width: 100%;
    height: auto;
}

.photo-gallery-item h2 {
    text-align: center;
}

@media screen and (min-width: 800px) {
 
    #home-page, #gallery {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

     .home-flex-description-item, .photo-gallery-item {
        width: 50%;
    }
}

@media screen and (min-width: 1280px) {
    
    /* Home page */

    #home-page {
        max-width: 1280px;
        margin: 0 auto;
    }

    /* Gallery */
     .photo-gallery-item {
        width: 33%;
    }
}

/* More Info (more-info.html) */

iframe {
    display: none;
}

table {
    margin: 0 auto;
    width: fit-content;
}

td {
    padding-right: 1rem;
}

#more-info h2 {
    text-align: center;
}

#more-info a {
    display: block;
    text-align: center;
}

#contact-us {
    margin: 0 auto;
    width: fit-content;
}
